<h1>Edit a question</h1>

<%= form_for @question do |f| %>
  <% if @question.errors.any? %>
    <ul id="errors">
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>


  <%= f.submit %>
<% end %>
